@import 'bootstrap';
@import 'font-awesome';
@import 'color';

body {
  //scss-lint:disable ImportantRule
  background: $athens-gray !important;
}

.log-container {
  background: $white;
  border-radius: 2px;
  border-top: 3px solid $cornflower-blue;
  margin: auto;
  width: 600px;
}

h2 {
  padding: 15px 40px;
  text-align: center;
}

.new-form {
  padding: 0 40px 20px;

  .field input {
    margin-bottom: 10px;
    padding: 8px;
    width: 97%;
  }
}

.btn-log {
  background: $cornflower-blue;
  border: 0;
  color: $white;
  margin-top: 10px;
  padding: 10px 20px;
}

.btn-others {
  font-size: 20px;
  font-style: italic;
}

.book-item {
  height: 500px;
}

.book-detail {
  background: $white;
  padding: 30px 20px;

  &-container {
    margin-bottom: 50px;
    margin-top: 50px;
  }
}


.book-price {
  color: $web-orange;
  font-size: 22;
  font-weight: bold;
}

.list-item {
  list-style: none;
  margin-top: 21px;

  .item {
    margin-bottom: 1px;

    a {
      background: $white;
      color: $punch;
      display: block;
      padding: 7px 11px;
      width: 100%;
    }
  }
}

.image-first {
  text-align: center;

  img {
    height: 400px;
    width: 100%;
  }
}
