@import 'bootstrap';
@import 'font-awesome';
@import 'color';

body {
  //scss-lint:disable ImportantRule
  background: $athens-gray !important;
}

.log-container {
  background: $white;
  border-radius: 2px;
  border-top: 3px solid $cornflower-blue;
  margin: auto;
  width: 600px;
}

h2 {
  padding: 15px 40px;
  text-align: center;
}

.new-form {
  padding: 0 40px 20px;

  .field input {
    margin-bottom: 10px;
    padding: 8px;
    width: 97%;
  }
}

.btn-log {
  background: $cornflower-blue;
  border: 0;
  color: $white;
  margin-top: 10px;
  padding: 10px 20px;
}

.btn-others {
  font-size: 20px;
  font-style: italic;
}

.book-item {
  height: 500px;
}

.book-detail {
  background: $white;
  padding: 30px 20px;

  &-container {
    margin-bottom: 50px;
    margin-top: 50px;
  }
}


.book-price {
  color: $web-orange;
  font-size: 22;
  font-weight: bold;
}

.list-item {
  list-style: none;
  margin-top: 21px;

  .item {
    margin-bottom: 1px;

    a {
      background: $white;
      color: $punch;
      display: block;
      padding: 7px 11px;
      width: 100%;
    }
  }
}

.image-first {
  text-align: center;

  img {
    height: 400px;
    width: 100%;
  }
}

.image {
  width: 40px;
}

.input-quantity {
  max-width: 150px;
}

.background-fff {
  background: $white;
}

label {
  //scss-lint:disable ImportantRule
  font-weight: normal !important;
}

.title {
  color: $neon-carrot;
  font-size: 18px;
  font-weight: bold;
  padding: 15px 0;
}

.profile-container {
  padding: 0 15px 10px;
}

.form-check {
  padding: 12px 0;
}

.btn-order {
  font-size: 20px;
  font-weight: bold;
  padding: 8px 40px;
}

.book-quantity {
  background: $neon-carrot;
  border-radius: 5px;
  color: $white;
  display: inline-block;
  margin-bottom: 1px;
  text-align: center;
  width: 56px;
}

.line-item-book {
  padding: 4px 0;
}


.bill-detail {

  .full-name {
    font-weight: bold;
    text-transform: uppercase;
  }
}
