<div class="row">
  <div class="col-md-2 col-md-offset-1">
    <ul class="list-item">
      <%= render partial:"category", collection: @categories %>
    </ul>
  </div>
  <div class="col-md-8 list-book"></div>
</div>
