<tr>
  <td><%= user.name %></td>
  <td><%= user.email %></td>
  <td>
    <%= link_to "", admin_user_path(user),
      class: "btn btn-primary btn-xs glyphicon glyphicon-fast-forward" %>
  </td>
</tr>
